# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\python39\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\python39\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: six in c:\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python39\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: sqlparse in c:\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: decorator in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: backcall in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in c:\python39\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\python39\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\python39\lib\site-packages (0.3.0)

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

env: DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Blockchain',
   password="12345"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001EBA0D2F6A0; dsn: 'user=postgres password=xxx dbname=Blockchain host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [5]:
%%sql

CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);

(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE Usuarios( ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [6]:
%%sql

CREATE TABLE Creadores(
    Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE Creadores( Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [7]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE Tipos_NFT( ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [8]:
%%sql

CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE NFT( ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [9]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE Precio_NFT( ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [10]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE Usuario_tiene_NFT( id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [12]:
%%sql

SELECT Creadores.ID_creador AS "Id", Creadores.nombre AS "Creador"
FROM Creadores
WHERE Creadores.estilo = 'Anime'
ORDER BY Creadores.popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(2, 'Emmett')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
SELECT NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"

FROM NFT 
         INNER JOIN Precio_NFT ON NFT.ID_nft = Precio_NFT.ID_nft
         INNER JOIN Tipos_NFT ON NFT.ID_nft = Tipos_NFT.ID_tipo

ORDER BY Precio_NFT.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Fight Punks', 'Modelo 3D')]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Utilizamos el SELECT para que nos muestre en el Output tanto el nombre del NFT como el nombre del Tipo de NFT. Luego, en el FROM, utilizamos INNER JOIN para obtener los valores entre NFT y Precio_NFT, y luego lo mismo entre NFT y Tipos_NFT, de esta manera nos quedaba una tabla con toda la información de los NFT, los precios y los tipos de estos. Por últimos, utilizamos ORDER BY para ordenar de manera descendente por el precio, limitando los resultados a 1, para que así nos entregara el resultado esperado._

In [14]:
%%sql

SELECT NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"

FROM NFT 
         INNER JOIN Precio_NFT ON NFT.ID_nft = Precio_NFT.ID_nft
         INNER JOIN Tipos_NFT ON NFT.ID_nft = Tipos_NFT.ID_tipo

ORDER BY Precio_NFT.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Fight Punks', 'Modelo 3D')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [15]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"

FROM 
    Usuarios INNER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
GROUP BY Usuarios.nombre, Usuarios.apellido
ORDER BY COUNT(Usuarios.id_usuario) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Jose', 'Rehkop')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Primero hacemos un INNER JOIN entre nft y precio_nft, para obtener todas las variaciones de precio que han tenido los NFT con en todas las fechas registradas. Posterior a esto, hacemos un GROUP BY a través del id y el nombre, para poder contar las veces que estas se repiten. Luego ordenamos en orden descendente (de mayor a menor) usando COUNT (es decir, la cantidad de veces que se cambia el precio). Luego lo limitamos a 1, para obtener el mayor valor de cambios (si existe más de uno, escoge alguno sin criterio).

In [25]:
%%sql

SELECT precio_nft.id_nft AS "ID", nft.nombre AS "NFT"
    
FROM
	 nft
	INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft

GROUP BY  precio_nft.id_nft,nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(54, 'Digi Gods')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Utilizamos SELECT para que nos muestre en el Output el nombre del Usuario y el apellido de éste. Luego, en el FROM, utilizamos FULL OUTER JOIN, para que nos entregue todos los valores que hay en las tablas Usuarios y Usuario_tiene_NFT. Luego usamos un WHERE para que nos entregue todos los valores donde id_nft sea nulo. De esta manera, nos entrega el resultado esperado._

In [17]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios FULL OUTER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
WHERE 
    Usuario_tiene_NFT.id_nft is null;

 * postgresql://postgres:***@localhost:5432/Blockchain
131 rows affected.

[('Heidi', 'Williams'),
 ('John', 'Mccollough'),
 ('Kelly', 'Broussard'),
 ('Elizabeth', 'Underwood'),
 ('Paul', 'Ayala'),
 ('Joseph', 'Serrano'),
 ('Reuben', 'Mendez'),
 ('Brenda', 'Patrick'),
 ('Fred', 'Murray'),
 ('Donald', 'Lowery'),
 ('Charlie', 'Hubbard'),
 ('Guadalupe', 'Johnson'),
 ('Mindy', 'Olivia'),
 ('Ruth', 'Toner'),
 ('Elizabeth', 'Toothman'),
 ('Jerry', 'Miller'),
 ('Taylor', 'Connor'),
 ('Donna', 'Horton'),
 ('William', 'Coker'),
 ('Doris', 'Miller'),
 ('Del', 'Crawford'),
 ('Gretchen', 'Delong'),
 ('Timothy', 'Latham'),
 ('Bertha', 'Keri'),
 ('Alta', 'Butler'),
 ('Michael', 'Fowler'),
 ('Barbara', 'East'),
 ('Donald', 'Marcinkiewicz'),
 ('Jeffrey', 'Gallagher'),
 ('Mary', 'Fenn'),
 ('Ruth', 'Robles'),
 ('Louis', 'White'),
 ('Allen', 'Creswell'),
 ('Olivia', 'Clayborne'),
 ('Cindy', 'Jeffers'),
 ('Katrina', 'Williams'),
 ('Theodore', 'Enos'),
 ('Ernest', 'Garcia'),
 ('Edgar', 'Lewis'),
 ('Ron', 'Franco'),
 ('Yvette', 'Brock'),
 ('Derrick', 'Alonzo'),
 ('Manuel', 'Vigil'),
 ('Regina', 'Smith'),
 ('Todd', 'Conroy'),
 ('Cedric', 'Flynn'),
 ('Gina', 'Bean'),
 ('Susan', 'Hewitt'),
 ('Eric', 'Patten'),
 ('Mary', 'Blanton'),
 ('Sarah', 'Hargrave'),
 ('Enola', 'Hilyard'),
 ('Elyse', 'Brown'),
 ('Tammy', 'Eager'),
 ('Thomas', 'Ash'),
 ('Kenneth', 'Farmer'),
 ('Gladys', 'Mathews'),
 ('Jane', 'Salmons'),
 ('Cynthia', 'Comstock'),
 ('Betty', 'Kercheval'),
 ('Erica', 'Edwards'),
 ('Thelma', 'Burns'),
 ('Lucy', 'Sellers'),
 ('Michael', 'Walker'),
 ('Isaac', 'Boston'),
 ('William', 'Hammer'),
 ('Barry', 'Davis'),
 ('Randal', 'Broadway'),
 ('Nelson', 'Dumais'),
 ('Joseph', 'Driscoll'),
 ('Susan', 'Jones'),
 ('Ruby', 'Hines'),
 ('Stephen', 'Noland'),
 ('Ricardo', 'Haifley'),
 ('Paul', 'Driever'),
 ('Kay', 'Vandiver'),
 ('Adam', 'Wyatt'),
 ('Florence', 'Luppino'),
 ('Melanie', 'Williams'),
 ('Anna', 'Sanchez'),
 ('Amanda', 'Beltran'),
 ('Royce', 'Manke'),
 ('Michael', 'Swofford'),
 ('Donna', 'Hering'),
 ('Stephen', 'Frazier'),
 ('Vance', 'Wooden'),
 ('Lily', 'Shay'),
 ('Verna', 'Barnes'),
 ('Beverly', 'Griffin'),
 ('Robert', 'Bartholomew'),
 ('Edith', 'Burkhart'),
 ('Marie', 'Bowers'),
 ('Nancy', 'Murphey'),
 ('James', 'Parrow'),
 ('Clifford', 'Gaskamp'),
 ('Sam', 'Hobson'),
 ('David', 'Dahlke'),
 ('Ricky', 'Meehan'),
 ('Seth', 'Leboeuf'),
 ('Sandra', 'Pigg'),
 ('Maria', 'Hale'),
 ('Terry', 'Grisby'),
 ('James', 'Vasquez'),
 ('Carol', 'Dalton'),
 ('Evelyn', 'Taylor'),
 ('Linda', 'Wiley'),
 ('Jennifer', 'Mancias'),
 ('Lois', 'Rohde'),
 ('Jose', 'Skiba'),
 ('Joseph', 'Salazar'),
 ('Jerome', 'Smialek'),
 ('Jennifer', 'Fullwood'),
 ('Reta', 'Smith'),
 ('Mary', 'Perez'),
 ('Stephanie', 'Gray'),
 ('Sean', 'Smith'),
 ('Lauren', 'Tompkins'),
 ('Willie', 'Ritchie'),
 ('Lucia', 'Lopez'),
 ('Norma', 'Wigley'),
 ('Victoria', 'Martinez'),
 ('Lola', 'Wilber'),
 ('Barbara', 'Pittman'),
 ('Todd', 'Neglia'),
 ('Linda', 'Mason'),
 ('Troy', 'Carpenter'),
 ('Albert', 'Marti'),
 ('Donna', 'Melnick'),
 ('Jack', 'Quince'),
 ('Roland', 'Riera'),
 ('Signe', 'Ellison')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Primero anidamos una consulta, donde escogemos los precios actuales de todos los NFT. Esto a través de un GROUP BY, y en el SELECT elegimos con MAX la fecha mas reciente. Luego, hacemos un INNER JOIN con el precio nuevamente (para poder obtener el precio en esa fecha), también un INNER JOIN con nft, para obtener el id_tipo correspondiente al id del nft, y hacemos un ultimo INNER JOIN con tipos_nft para obtener el tipo correspondiente. Finalmente, ponemos una condicion en la cual el nombre del tipo debe ser 'Juegos' (puede ser cambiado, este es el id_tipo X). Finalmente ordenamos por precio y lo limitamos a 4, para obtener los 4 mayores

In [18]:
%%sql

SELECT nft.nombre AS "NFT"
FROM(
	SELECT precio_nft.id_nft,  MAX(precio_nft.fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY precio_nft.id_nft) AS lastdate
	
	INNER JOIN precio_nft 
	ON precio_nft.fecha=lastdate.ultimafecha
	AND precio_nft.id_nft = lastdate.id_nft
	
	INNER JOIN nft
	ON precio_nft.id_nft=nft.id_nft
	
	INNER JOIN tipos_nft
	ON tipos_nft.id_tipo=nft.id_tipo
WHERE tipos_nft.nombre= 'Juegos'
ORDER BY precio_nft.precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Cryptokitty Ville',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [19]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM precio_nft
	INNER JOIN nft
	ON precio_nft.id_nft = nft.id_nft
WHERE 
	EXTRACT(YEAR FROM precio_nft.fecha) BETWEEN 2017 AND 2019;

 * postgresql://postgres:***@localhost:5432/Blockchain
108 rows affected.

[('Women Power', 19189),
 ('Water Wiggle', 80603),
 ('Crypto Boom', 63842),
 ('Artificial Rocks', 51772),
 ('Crypto Bunny Ranch', 58667),
 ('Meteorite NFT', 70529),
 ('Funny Frogs', 30847),
 ('Awesome Concept', 63689),
 ('0xHile', 83687),
 ('Crypto Raptors', 97077),
 ('Token Watchdogs', 49331),
 ('Mint Chocolates', 76382),
 ('White Storm', 9938),
 ('Cypherpunk Samurai', 6135),
 ('Fantasy Token', 50428),
 ('Addictive Animals', 30928),
 ('Addictive Animals', 97281),
 ('Digi Gods', 21817),
 ('Butterfly Dust', 68163),
 ('Crypto Jackpot', 64338),
 ('Crystalline Canyon', 99370),
 ('Dark Horse Lady', 44766),
 ('Healthy Hedgehogs', 32230),
 ('The Gold Betta', 88548),
 ('Brush Point', 98490),
 ('Arty Arts', 63319),
 ('Meteorite NFT', 29075),
 ('Bling Bits', 67889),
 ('Dust Rift', 27068),
 ('Dust Rift', 99556),
 ('Pandamonium', 59496),
 ('Touchdown', 82783),
 ('Hive City', 44011),
 ('Visionary Crypto', 45292),
 ('Techno Abstract Aesthetics', 48322),
 ('Pandamonium', 66135),
 ('Dust Sifter', 76940),
 ('Cards of Polo', 77887),
 ('Crypto Jackpot', 93881),
 ('Crumbs NFT', 24039),
 ('Graceful Gorillas', 11660),
 ('Koalas in Love', 39380),
 ('Crypto Art Gallery', 49727),
 ('Women Power', 84183),
 ('Crumbs NFT', 47575),
 ('Cryptokitty Ville', 96851),
 ('Crypto Kitties Of War', 88574),
 ('Minecraft Sphere', 31327),
 ('Art Rumble', 80121),
 ('1-Love', 70667),
 ('Doge Pal', 39890),
 ('Ultimate Iconic Crypto (IUC)', 69057),
 ('Darker Clouds', 27686),
 ('Phonetic Phoenix', 79216),
 ('Bloom of Flowers', 29731),
 ('Butterfly Dust', 20008),
 ('Pandamonium', 87740),
 ('Crypto Bunny Ranch', 39616),
 ('1NiTRO', 44136),
 ('Bloom of Flowers', 70060),
 ('Crypto Felines', 58275),
 ('Dapper Dinos', 72936),
 ('Brush Point', 82222),
 ('Bloom of Flowers', 77050),
 ('Crumbs NFT', 98384),
 ('Artistic Alpha', 15739),
 ('Fight Punks', 39430),
 ('Dark Horse Lady', 19560),
 ('Resilient Rats', 85191),
 ('To The Moon', 43193),
 ('Burger Bits', 82396),
 ('Mint Chocolates', 88004),
 ('Alice Wonderland Frozen Carolers', 86704),
 ('The Binary Girl', 42241),
 ('Fight For The Title', 21641),
 ('Spells of Genesis', 43507),
 ('Koalas in Love', 69139),
 ('Crypto Diamonds', 3141),
 ('Rockin Crypto', 21952),
 ('To The Moon', 93991),
 ('Art Dodger', 17579),
 ('Block View', 97758),
 ('Krypto Queen', 84490),
 ('The Binary Girl', 72242),
 ('Giant Coin', 77260),
 ('Artificial Rocks', 47190),
 ('Doge Pal', 58535),
 ('Lucky Lizards', 33154),
 ('Alice Wonderland Frozen Carolers', 59152),
 ('The Binary Girl', 11666),
 ('Flame Blade', 76632),
 ('Fight For The Title', 13466),
 ('Healthy Hedgehogs', 5403),
 ('Mountain of Clouds', 60589),
 ('Flame Cats', 91234),
 ('Artful Antlers', 57850),
 ('Crypto Kitties', 47868),
 ('Clumsy Crocodiles', 24154),
 ('Digi Gods', 71899),
 ('Funny Frogs', 30425),
 ('Wowoo World', 53024),
 ('Anna Frozen Entertainers', 82474),
 ('Doge Pal', 36065),
 ('The Teacup Pomeranian', 2443),
 ('Alice Wonderland Frozen Carolers', 5478),
 ('Dust Rift', 73284),
 ('Madame Witch', 90644),
 ('Ultimate League Of Paragon', 54527)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Utilizamos el SELECT para que nos muestre el nombre y el apellido de "Tabla" (en un momento explicamos "Tabla") y un contador (COUNT) de la cantidad de veces que aparece un nombre en la tabla. Luego, en el FROM, lo primero que hacemos es una consulta anidada, en la cual se va a generar una nueva tabla, llamada "Tabla", la cual va a retornar el ID del creador, el ID del NFT, el nombre del creador y el apellido de este, sacando estos valores de la intersección entre la tabla NFT y la tabla creadores y agrupándola por id del creador e id del NFT. Luego, utilizamos INNER JOIN para intersectar "Tabla" con Usuario_tiene_NFT. De esta manera, vamos a obtener los datos en donde la gente haya comprado algún NFT. Agrupamos el resultado por el nombre de la tabla y el apellido, lo ordenamos desde el nombre con más cantidad de repeticiones hasta el nombre con menor cantidad, y limitamos los resultados a un solo resultado, para que nos de así el resultado esperado._

In [23]:
%%sql

SELECT Tabla.nombre AS "Nombre", Tabla.apellido AS "Apellido", COUNT(Tabla.nombre) AS "Cantidad"
FROM (
    SELECT Creadores.ID_creador, NFT.ID_nft, Creadores.nombre, Creadores.apellido
    FROM NFT INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
    GROUP BY Creadores.ID_creador, NFT.ID_nft
    ) AS Tabla
    INNER JOIN Usuario_tiene_NFT ON Tabla.id_nft = Usuario_tiene_NFT.id_nft
GROUP BY Tabla.nombre, Tabla.apellido
ORDER BY COUNT(Tabla.nombre) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Wayne', 'Dedrick', 10)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [29]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Valor"
 FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	 FROM precio_nft
	 GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN nft
	ON lastprice.id_nft =nft.id_nft

	INNER JOIN creadores
	ON creadores.id_creador = nft.id_creador
WHERE creadores.nombre='John'
ORDER BY precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('0NOZER0', 87480)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';