# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Bryan Gonzalez - 202073052-0
* Maciel Ripetti - 202073099-7
* Nicolás Paz - 202073107-1

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [2]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\python39\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\python39\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\python39\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: prettytable<1 in c:\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: colorama in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (56.0.0)
Requirement already satisfied: matplotlib-inline in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=5 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\python39\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\python39\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: sqlalchemy in c:\python39\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\python39\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\python39\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\python39\lib\site-packages (0.3.0)

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [4]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

env: DATABASE_URL=postgresql://postgres:12345@localhost:5432/Blockchain

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [5]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Blockchain',
   password="12345"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000021C9421F6A0; dsn: 'user=postgres password=xxx dbname=Blockchain host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [6]:
%%sql

CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);

(psycopg2.errors.DuplicateTable) la relación «usuarios» ya existe

[SQL: CREATE TABLE Usuarios( ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY(ID_usuario)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Creadores"

In [7]:
%%sql

CREATE TABLE Creadores(
    Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «creadores» ya existe

[SQL: CREATE TABLE Creadores( Id_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY(Id_creador)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Tipos_NTF"

In [8]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «tipos_nft» ya existe

[SQL: CREATE TABLE Tipos_NFT( ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY(ID_tipo)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "NFT"

In [9]:
%%sql

CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «nft» ya existe

[SQL: CREATE TABLE NFT( ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    id_tipo INTEGER,
    FOREIGN KEY(ID_tipo) REFERENCES Tipos_NFT(ID_tipo),
    PRIMARY KEY(ID_nft)

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Precio NFT"

In [10]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «precio_nft» ya existe

[SQL: CREATE TABLE Precio_NFT( ID_nft INTEGER,
    FOREIGN KEY (ID_nft) REFERENCES NFT(id_nft),
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY(id_nft, fecha)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Tabla "Usuario tiene NFT"

In [11]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);

 * postgresql://postgres:***@localhost:5432/Blockchain
(psycopg2.errors.DuplicateTable) la relación «usuario_tiene_nft» ya existe

[SQL: CREATE TABLE Usuario_tiene_NFT( id_usuario INTEGER,
    id_nft INTEGER,

    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(id_nft),

    PRIMARY KEY (id_usuario, id_nft)


);]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [12]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Primero renombramos las columnas que utilizaremos, luego en el FROM para utilizar la tabla creadores,_
 hacemos un WHERE para seleccionar  un estilo de los creadores(este puede ser cambiado) y_ 
 finalmente utilizamos el ORDER BY para ordenar la tabla en funcion a la popularidad de los creadores de forma descendiente,
para extraer el mayor valor de la trabla limitamos a 1._

In [13]:
%%sql

SELECT Creadores.ID_creador AS "Id", Creadores.nombre AS "Creador"
FROM Creadores
WHERE Creadores.estilo = 'Anime'
ORDER BY Creadores.popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(19, 'Jeremy')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _En el FROM obtenemos una tabla utilizando un INNER JOIN entre NFT y precio_nft, esto para poder tener una tabla que contenga ambos elementos (el nombre del NFT y sus precios respectivamente) en una unica tabla. Posterior a esto, hacemos un GROUP BY por nombre para ocultar las repeticiones, y en SELECT, seleccionamos el nombre y con un COUNT(id_nft) podemos obtener una columna con todas las repeticiones que ocultamos con el GROUP BY, en una cantidad numerica, que representa la cantidad de veces que ha cambiado el precio._

In [14]:
%%sql
SELECT NFT.nombre AS "NFT", COUNT(NFT.ID_nft) AS "Cantidad de precios"
FROM NFT INNER JOIN Precio_NFT 
ON NFT.ID_nft = Precio_NFT.ID_nft
GROUP BY NFT.ID_nft;

 * postgresql://postgres:***@localhost:5432/Blockchain
120 rows affected.

[('Dust Rift', 2),
 ('Fair Coin', 2),
 ('Crypto Diamonds', 1),
 ('Bitsy', 3),
 ('Crumbs NFT', 1),
 ('Artful Antlers', 1),
 ('Graceful Gorillas', 1),
 ('Digi Gods', 1),
 ('Crypto Potato', 2),
 ('Cryptonaut', 1),
 ('Dreamy Imaginations', 1),
 ('The Binary Girl', 5),
 ('Water Wiggle', 2),
 ('Giant Coin', 2),
 ('To The Moon', 2),
 ('Lucky Lizards', 3),
 ('Rich Rhinos', 1),
 ('Busy Bats', 4),
 ('Couch Potato', 1),
 ('White Storm', 5),
 ('Crypto Punked', 3),
 ('Coin Dance', 2),
 ('1-Love', 2),
 ('Block View', 3),
 ('Koala Kickers', 4),
 ('Sphere Art', 2),
 ('Crypto Pigeon Race', 2),
 ('Cryptokitty Ville', 2),
 ('Awesome Concept', 3),
 ('Cyberboxer', 3),
 ('Clever Chimp', 2),
 ('Nova Auroras', 2),
 ('Burger Bits', 5),
 ('Pandamonium', 2),
 ('Elephant Treasure Hunt', 1),
 ('Rainbows Ends', 1),
 ('Thunder NFT', 1),
 ('3D Me', 6),
 ('Crypto Art Gallery', 3),
 ('Clumsy Crocodiles', 5),
 ('Crypto Kitties Of War', 1),
 ('Doge Pal', 2),
 ('Bling Bits', 2),
 ('Hive City', 3),
 ('Funny Frogs', 3),
 ('Koalas in Love', 3),
 ('Krypto Queen', 1),
 ('Calm Crows', 3),
 ('Crypto Boom', 5),
 ('Light Embrace', 2),
 ('Crypto Club', 2),
 ('Ultimate League Of Paragon', 5),
 ('The Teacup Pomeranian', 1),
 ('0NOZER0', 3),
 ('Brush Point', 4),
 ('Mike Halloween Yodelers', 3),
 ('Artificial Rocks', 1),
 ('Pink Sports Cars', 2),
 ('Crypto Jackpot', 3),
 ('Dark Horse Lady', 4),
 ('Crypto Life', 1),
 ('Crypto Potluck', 1),
 ('Addictive Animals', 1),
 ('Aliens Abduction', 6),
 ('Hilarious Horses', 2),
 ('Crystalline Canyon', 2),
 ('Fight Punks', 4),
 ('Token Watchdogs', 1),
 ('Touchdown', 2),
 ('Art Dodger', 2),
 ('Bee Token', 3),
 ('Art Lover Box', 2),
 ('Anna Frozen Entertainers', 5),
 ('NFT Lord', 3),
 ('Futuristic Realism', 3),
 ('Secret Stones', 2),
 ('0xHile', 1),
 ('Depressed Dragons', 1),
 ('Panther NFT', 1),
 ('Resilient Rats', 5),
 ('Animated Hard Art', 4),
 ('Meteorite NFT', 5),
 ('Techno Abstract Aesthetics', 1),
 ('Mountain of Clouds', 2),
 ('Ultra Cool Dogs', 4),
 ('Blizz Blizzard', 4),
 ('Headed Shark Attack', 3),
 ('Healthy Hedgehogs', 1),
 ('United Crypto Token (UCT)', 2),
 ('Enthusiastic Elephants', 1),
 ('Crypto Bunny Ranch', 5),
 ('0NOCH0', 5),
 ('Mint Chocolates', 1),
 ('Spells of Genesis', 3),
 ('Bit NFT', 2),
 ('Flame Blade', 4),
 ('Reflected Light', 2),
 ('Moonlit Butterfly', 2),
 ('Blue Mood Chip', 4),
 ('Digital Unicorns', 2),
 ('Butterfly Dust', 2),
 ('Crypto Raptors', 1),
 ('Wowoo World', 1),
 ('Silver Lining Pixy', 5),
 ('Art Rumble', 3),
 ('Bloom of Flowers', 2),
 ('Women Power', 1),
 ('Flame Cats', 2),
 ('Cards of Polo', 1),
 ('Dose of Art', 4),
 ('Rockin Crypto', 2),
 ('Crypto Kitties', 1),
 ('Flame Stinger', 3),
 ('Crypto Felines', 3),
 ('Phonetic Phoenix', 3),
 ('Qat Tree Unicorn', 4),
 ('Minecraft Sphere', 3),
 ('Atollon Coral', 2),
 ('Fight For The Title', 2),
 ('Outstanding Octopus', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Utilizamos el SELECT para que nos muestre en el Output tanto el nombre del NFT como el nombre del Tipo de NFT. Luego, en el FROM, utilizamos INNER JOIN para obtener los valores entre NFT y Precio_NFT, y luego lo mismo entre NFT y Tipos_NFT, de esta manera nos quedaba una tabla con toda la información de los NFT, los precios y los tipos de estos. Por últimos, utilizamos ORDER BY para ordenar de manera descendente por el precio, limitando los resultados a 1, para que así nos entregara el resultado esperado.

In [15]:
%%sql

SELECT NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"

FROM 
    NFT INNER JOIN Precio_NFT 
    ON NFT.ID_nft = Precio_NFT.ID_nft
    INNER JOIN Tipos_NFT ON NFT.ID_nft = Tipos_NFT.ID_tipo

ORDER BY Precio_NFT.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('The Binary Girl', 'Musica')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _con un INNER JOIN unimos la tabla de Usuarios con Usuario_tiene_NFT de acuerdo a los ID de cada uno de estos, para luego con un GROUP BY agruparlos por nombre y apellido, así eliminamos las repeticiones de estos. Luego ordenamos en funcion de COUNT (id_usuarios) en orden descendente, ya que esta funcion obtiene la cantidad de repeticiones que hubieron en las filas despues del GROUP BY, y lo limitamos a 1 para obtener unicamente el usuario que tiene mas cantidad de NFT_

In [16]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"

FROM 
    Usuarios INNER JOIN Usuario_tiene_NFT 
    ON Usuarios.id_usuario = Usuario_tiene_NFT.id_usuario
    
GROUP BY Usuarios.nombre, Usuarios.apellido
ORDER BY COUNT(Usuarios.id_usuario) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Roberto', 'Goldblatt')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Primero hacemos un INNER JOIN entre nft y precio_nft, para obtener todas las variaciones de precio que han tenido los NFT con en todas las fechas registradas. Posterior a esto, hacemos un GROUP BY a través del id y el nombre, para poder contar las veces que estas se repiten. Luego ordenamos en orden descendente (de mayor a menor) usando COUNT (es decir, la cantidad de veces que se cambia el precio). Luego lo limitamos a 1, para obtener el mayor valor de cambios (si existe más de uno, escoge alguno sin criterio).

In [17]:
%%sql

SELECT precio_nft.id_nft AS "ID", nft.nombre AS "NFT"
    
FROM
	 nft
	INNER JOIN precio_nft ON nft.id_nft=precio_nft.id_nft

GROUP BY  precio_nft.id_nft,nft.nombre
ORDER BY COUNT(precio_nft.id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[(89, '3D Me')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** Utilizamos SELECT para que nos muestre en el Output el nombre del Usuario y el apellido de éste. Luego, en el FROM, utilizamos FULL OUTER JOIN, para que nos entregue todos los valores que hay en las tablas Usuarios y Usuario_tiene_NFT. Luego usamos un WHERE para que nos entregue todos los valores donde id_nft sea nulo. De esta manera, nos entrega el resultado esperado.

In [18]:
%%sql

SELECT 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios FULL OUTER JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
WHERE 
    Usuario_tiene_NFT.id_nft is null;

 * postgresql://postgres:***@localhost:5432/Blockchain
135 rows affected.

[('Tammy', 'Bush'),
 ('Patricia', 'Pam'),
 ('Lena', 'Kirgan'),
 ('Jesse', 'Troy'),
 ('Kandice', 'Kazee'),
 ('Jacqueline', 'Futrell'),
 ('Elane', 'Dominguez'),
 ('Adriana', 'Benthall'),
 ('Kenneth', 'Roberts'),
 ('Keith', 'Padilla'),
 ('Lowell', 'Collinsworth'),
 ('Joan', 'Cadwell'),
 ('Franklin', 'Bell'),
 ('Charles', 'Harwood'),
 ('Daniel', 'Jimenez'),
 ('Bobby', 'Dowty'),
 ('John', 'Dennis'),
 ('Brian', 'Smith'),
 ('Leonard', 'Moore'),
 ('Jessica', 'Bowens'),
 ('Laura', 'Parish'),
 ('Steven', 'Blandy'),
 ('Hugh', 'Catchings'),
 ('John', 'Schoeffler'),
 ('Oma', 'Zambrano'),
 ('Jane', 'Willardson'),
 ('Vicente', 'Gayle'),
 ('Harley', 'Mcqueen'),
 ('Len', 'Hebert'),
 ('Christine', 'Owen'),
 ('Jean', 'Roberts'),
 ('Gary', 'Tipton'),
 ('Gregory', 'Frazier'),
 ('Juanita', 'Williams'),
 ('Andrew', 'Pertsovsky'),
 ('Michelle', 'Powell'),
 ('Emilio', 'Blackwell'),
 ('Pat', 'Williams'),
 ('Jacob', 'Ullrich'),
 ('Alan', 'Dixon'),
 ('Gabrielle', 'Gilliam'),
 ('Kali', 'Nichols'),
 ('Penny', 'Zanella'),
 ('Glenn', 'Serrano'),
 ('Marcel', 'Imlay'),
 ('Marilyn', 'Smith'),
 ('Rhonda', 'Woodward'),
 ('Brittney', 'Young'),
 ('Marcella', 'Porterfield'),
 ('Carolyn', 'Radebaugh'),
 ('Deborah', 'Rich'),
 ('Emily', 'Lassiter'),
 ('Joaquin', 'Muth'),
 ('Jodi', 'Jennings'),
 ('Angelo', 'Harmon'),
 ('Marian', 'Somma'),
 ('Jo', 'Vizcaino'),
 ('Denise', 'Hickey'),
 ('Arthur', 'Barlett'),
 ('Irene', 'Cook'),
 ('Tanya', 'Harger'),
 ('Daniel', 'Sawyer'),
 ('Sanford', 'Pane'),
 ('Donna', 'Fairley'),
 ('Richard', 'Root'),
 ('Junior', 'Orozco'),
 ('Efrain', 'Kemp'),
 ('Margit', 'Harris'),
 ('Bryan', 'Small'),
 ('Jeremy', 'Capito'),
 ('Linda', 'Moeller'),
 ('Edwina', 'Jarrett'),
 ('Andrew', 'Kline'),
 ('Gerald', 'Walker'),
 ('Stacie', 'Murphy'),
 ('Kim', 'Brown'),
 ('Norma', 'Lowe'),
 ('Isaiah', 'Schroeder'),
 ('Donna', 'Blount'),
 ('Ken', 'Tilly'),
 ('Thomas', 'Sheldon'),
 ('Colleen', 'Choate'),
 ('Thomas', 'Duncan'),
 ('Katherine', 'Lynch'),
 ('Charles', 'Holden'),
 ('Gloria', 'Katz'),
 ('Maria', 'Hamburger'),
 ('Thomas', 'Penrod'),
 ('Diana', 'Winter'),
 ('Sean', 'Drake'),
 ('Jeffrey', 'Leopold'),
 ('Mary', 'Mcneil'),
 ('Richard', 'Anderson'),
 ('Paul', 'Garcia'),
 ('Tawanna', 'Mcateer'),
 ('Lucinda', 'Hughes'),
 ('Beverly', 'Irion'),
 ('James', 'Sera'),
 ('Rick', 'Obryan'),
 ('Francis', 'Muse'),
 ('Martha', 'Duran'),
 ('Ethel', 'Gallo'),
 ('Waneta', 'Mulholland'),
 ('Patricia', 'Terrell'),
 ('John', 'Cox'),
 ('Louise', 'Jiminez'),
 ('Brian', 'Rounds'),
 ('Dominique', 'Livingston'),
 ('Anthony', 'Livingston'),
 ('Brenda', 'Campos'),
 ('Sidney', 'Wayman'),
 ('Eric', 'Sorenson'),
 ('Billy', 'March'),
 ('See', 'Newton'),
 ('Scott', 'Aragaki'),
 ('Theodore', 'Lupez'),
 ('David', 'Givens'),
 ('Rose', 'Johnson'),
 ('Russell', 'Shoup'),
 ('Jeff', 'Gold'),
 ('Jenny', 'Talton'),
 ('Darron', 'Dickerson'),
 ('Virginia', 'Gentner'),
 ('Jennifer', 'Barnett'),
 ('Thomas', 'Shufelt'),
 ('Mildred', 'Boone'),
 ('Kathy', 'Bennett'),
 ('Kathryn', 'Anderson'),
 ('Larry', 'Lynch'),
 ('Mary', 'Mcdaniel'),
 ('Renee', 'Hernandez'),
 ('Jennifer', 'Hull'),
 ('Roy', 'Schechter'),
 ('Todd', 'Edwards'),
 ('Samuel', 'Gardner')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Primero anidamos una consulta, donde escogemos los precios actuales de todos los NFT. Esto a través de un GROUP BY, y en el SELECT elegimos con MAX la fecha mas reciente. Luego, hacemos un INNER JOIN con el precio nuevamente (para poder obtener el precio en esa fecha), también un INNER JOIN con nft, para obtener el id_tipo correspondiente al id del nft, y hacemos un ultimo INNER JOIN con tipos_nft para obtener el tipo correspondiente. Finalmente, ponemos una condicion en la cual el nombre del tipo debe ser 'Juegos' (puede ser cambiado, este es el id_tipo X). Finalmente ordenamos por precio y lo limitamos a 4, para obtener los 4 mayores

In [19]:
%%sql

SELECT nft.nombre AS "NFT"
FROM(
	SELECT precio_nft.id_nft,  MAX(precio_nft.fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY precio_nft.id_nft) AS lastdate
	
	INNER JOIN precio_nft 
	ON precio_nft.fecha=lastdate.ultimafecha
	AND precio_nft.id_nft = lastdate.id_nft
	
	INNER JOIN nft
	ON precio_nft.id_nft=nft.id_nft
	
	INNER JOIN tipos_nft
	ON tipos_nft.id_tipo=nft.id_tipo
WHERE tipos_nft.nombre= 'Juegos'
ORDER BY precio_nft.precio DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Blockchain
4 rows affected.

[('Hive City',),
 ('Moonlit Butterfly',),
 ('Cryptokitty Ville',),
 ('Mountain of Clouds',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Para conseguir una tabla con todos los precios de los NFT debemos hacer un join entre precio_nft y nft, en funcion al id_nft. Luego de esto, condicionamos con un WHERE la fecha usando un EXTRACT (ya que la fecha es un timestamp), donde podemos obtener el año, y finalmente lo ponemos en un BETWEEN 2017 y 2019 para poder limitar solamente a estas fechas.

In [20]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM precio_nft
	INNER JOIN nft
	ON precio_nft.id_nft = nft.id_nft
WHERE 
	EXTRACT(YEAR FROM precio_nft.fecha) BETWEEN 2017 AND 2019;

 * postgresql://postgres:***@localhost:5432/Blockchain
114 rows affected.

[('Awesome Concept', 79016),
 ('Touchdown', 60403),
 ('Dreamy Imaginations', 16387),
 ('Ultra Cool Dogs', 59214),
 ('Mint Chocolates', 80853),
 ('Anna Frozen Entertainers', 76762),
 ('Light Embrace', 21715),
 ('Blue Mood Chip', 43987),
 ('Crypto Club', 38678),
 ('Sphere Art', 64905),
 ('Headed Shark Attack', 38360),
 ('Hilarious Horses', 9708),
 ('Block View', 41548),
 ('Meteorite NFT', 92476),
 ('Blizz Blizzard', 40948),
 ('Art Rumble', 70841),
 ('Bee Token', 36809),
 ('Crypto Boom', 65053),
 ('Panther NFT', 71912),
 ('Hilarious Horses', 29275),
 ('Resilient Rats', 8454),
 ('Busy Bats', 24943),
 ('Graceful Gorillas', 61311),
 ('Pandamonium', 25103),
 ('Animated Hard Art', 33714),
 ('Meteorite NFT', 78769),
 ('Doge Pal', 91934),
 ('Sphere Art', 21210),
 ('Rainbows Ends', 79349),
 ('Headed Shark Attack', 18067),
 ('Busy Bats', 90682),
 ('Crypto Felines', 54778),
 ('Nova Auroras', 14741),
 ('Brush Point', 86498),
 ('Hive City', 45915),
 ('Aliens Abduction', 84297),
 ('Outstanding Octopus', 10423),
 ('Crypto Art Gallery', 41522),
 ('Silver Lining Pixy', 40088),
 ('Digi Gods', 12982),
 ('Crumbs NFT', 65249),
 ('Block View', 31427),
 ('Crypto Bunny Ranch', 13548),
 ('Minecraft Sphere', 31766),
 ('Ultimate League Of Paragon', 20718),
 ('Koala Kickers', 40766),
 ('0NOZER0', 72173),
 ('Digital Unicorns', 42207),
 ('Crypto Art Gallery', 35435),
 ('Qat Tree Unicorn', 16184),
 ('Depressed Dragons', 30145),
 ('Coin Dance', 72456),
 ('Rockin Crypto', 55248),
 ('Cyberboxer', 11418),
 ('Burger Bits', 34155),
 ('Flame Stinger', 81849),
 ('Aliens Abduction', 28976),
 ('Crypto Punked', 38932),
 ('3D Me', 28064),
 ('Ultra Cool Dogs', 24535),
 ('White Storm', 43301),
 ('The Binary Girl', 19691),
 ('Addictive Animals', 53445),
 ('Crypto Art Gallery', 54807),
 ('Futuristic Realism', 80995),
 ('Ultimate League Of Paragon', 17573),
 ('Crypto Punked', 62893),
 ('Blue Mood Chip', 38741),
 ('Elephant Treasure Hunt', 97441),
 ('3D Me', 56020),
 ('Flame Stinger', 81660),
 ('Wowoo World', 77545),
 ('Secret Stones', 9174),
 ('Meteorite NFT', 34515),
 ('Animated Hard Art', 2771),
 ('Funny Frogs', 66786),
 ('Spells of Genesis', 91838),
 ('Healthy Hedgehogs', 88173),
 ('The Binary Girl', 74519),
 ('Crypto Boom', 76654),
 ('Aliens Abduction', 83220),
 ('Rich Rhinos', 38606),
 ('Crypto Boom', 86078),
 ('Burger Bits', 14918),
 ('Qat Tree Unicorn', 68352),
 ('Crypto Boom', 67249),
 ('Krypto Queen', 90003),
 ('Dose of Art', 46577),
 ('United Crypto Token (UCT)', 14269),
 ('Blizz Blizzard', 80689),
 ('Bee Token', 20151),
 ('Thunder NFT', 44577),
 ('0NOCH0', 56226),
 ('Qat Tree Unicorn', 53393),
 ('Silver Lining Pixy', 73621),
 ('Burger Bits', 99985),
 ('Clumsy Crocodiles', 50055),
 ('To The Moon', 27114),
 ('Crypto Bunny Ranch', 84405),
 ('Atollon Coral', 51303),
 ('Anna Frozen Entertainers', 55168),
 ('United Crypto Token (UCT)', 46572),
 ('Couch Potato', 54402),
 ('Animated Hard Art', 51297),
 ('Fight Punks', 62639),
 ('Art Lover Box', 86164),
 ('Water Wiggle', 90074),
 ('Calm Crows', 17420),
 ('Giant Coin', 31210),
 ('Anna Frozen Entertainers', 38145),
 ('Atollon Coral', 69814),
 ('Dust Rift', 2372),
 ('Koala Kickers', 65475),
 ('Token Watchdogs', 15230)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Utilizamos el SELECT para que nos muestre el nombre y el apellido de "Tabla" (en un momento explicamos "Tabla") y un contador (COUNT) de la cantidad de veces que aparece un nombre en la tabla. Luego, en el FROM, lo primero que hacemos es una consulta anidada, en la cual se va a generar una nueva tabla, llamada "Tabla", la cual va a retornar el ID del creador, el ID del NFT, el nombre del creador y el apellido de este, sacando estos valores de la intersección entre la tabla NFT y la tabla creadores y agrupándola por id del creador e id del NFT. Luego, utilizamos INNER JOIN para intersectar "Tabla" con Usuario_tiene_NFT. De esta manera, vamos a obtener los datos en donde la gente haya comprado algún NFT. Agrupamos el resultado por el nombre de la tabla y el apellido, lo ordenamos desde el nombre con más cantidad de repeticiones hasta el nombre con menor cantidad, y limitamos los resultados a un solo resultado, para que nos de así el resultado esperado.

In [21]:
%%sql

SELECT Tabla.nombre AS "Nombre", Tabla.apellido AS "Apellido", COUNT(Tabla.nombre) AS "Cantidad"
FROM (
    SELECT Creadores.ID_creador, NFT.ID_nft, Creadores.nombre, Creadores.apellido
    FROM NFT INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
    GROUP BY Creadores.ID_creador, NFT.ID_nft
    ) AS Tabla
    INNER JOIN Usuario_tiene_NFT ON Tabla.id_nft = Usuario_tiene_NFT.id_nft
GROUP BY Tabla.nombre, Tabla.apellido
ORDER BY COUNT(Tabla.nombre) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Christopher', 'South', 10)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Comenzando de adentro hacia afuera, tenemos 2 anidaciones en total. En la mas interior, se genera una tabla-consulta con los precios solamente del año mas nuevo, esto a traves de un GROUP BY del id_nft, usando MAX para encontrar la fecha mayor(que sería la actual). Posterior a esto, hacemos un INNER JOIN entre la tabla que acabamos de crear, precio_nft, nft y los creadores. Todo esto para poder conectar la popularidad de los creadores con el precio, ya que estos no estan directamente conectados. Luego, simplemente condicionamos el nombre del creador (En este caso utilizamos 'John', pero equivale a X y puede ser cambiado por cualquiera), y luego lo ordenamos por precio para obtener el NFT que tiene un precio más alto actual perteneciente al creador X (en este caso 'John')

In [22]:
%%sql

SELECT nft.nombre AS "NFT", precio_nft.precio AS "Valor"
 FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	 FROM precio_nft
	 GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN nft
	ON lastprice.id_nft =nft.id_nft

	INNER JOIN creadores
	ON creadores.id_creador = nft.id_creador
WHERE creadores.nombre='John'
ORDER BY precio_nft.precio DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Spells of Genesis', 91838)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** Algo similar a la 10, hacemos un INNER JOIN multiple de las tablas que nos son utiles. Primero hacemos una consulta anidada, donde obtenemos la tabla con el precio actual del NFT, esto a traves de un GROUP BY del id_nft, usando MAX para encontrar la fecha mayor(que sería la actual). Luego, hacemos INNER JOIN con la tabla de precio_nft (ya que en la consulta anidada anterior perdemos el precio al obtener unicamente la fecha), usuario_tiene_nft para obtener el id_usuario del poseedor del nft, y con usuarios para obtener el nombre y apellido de las personas que poseen cada nft. Así, obtenemos en el FROM una tabla con todos los nombres y apellidos de las personas que poseen el NFT, asi como el precio actual del NFT. Con esta información, hacemos un GROUP BY del nombre y apellido de los usuarios, para asi obtener la suma de los precios correspondientes a todos los NFT que poseen, utilizando la funcion SUM en el select. Además, juntamos el nombre y el apellido utilizando la sintaxis ||, en una unica columna llamada Usuario. Finalmente ordenamos en funcion de la funcion SUM en orden descendente, y limitamos a 1 para obtener la solamente al usuario que posee mayor cantidad de dinero en la cartera en función del precio actual de sus NFT.

In [24]:
%%sql

SELECT (usuarios.nombre || ' ' || usuarios.apellido) AS "Usuario", SUM(precio_nft.precio) AS "Dinero"
FROM
	(SELECT id_nft, MAX(fecha) AS "ultimafecha"
	FROM precio_nft
	GROUP BY id_nft) AS lastprice

	INNER JOIN precio_nft 
	ON lastprice.ultimafecha= precio_nft.fecha 
	AND lastprice.id_nft = precio_nft.id_nft

	INNER JOIN usuario_tiene_nft
	ON usuario_tiene_nft.id_nft = precio_nft.id_nft
	
	INNER JOIN usuarios
	ON usuarios.id_usuario = usuario_tiene_nft.id_usuario
GROUP BY usuarios.nombre,usuarios.apellido
ORDER BY SUM(precio_nft.precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Blockchain
1 rows affected.

[('Shirley Catledge', 171099)]